@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

* {
    box-sizing: border-box;
}

body{
    background: url("./seven.jpeg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Poppins" ;
    margin: 0;
}
h1{
    font-weight: bold;
    font-size: 4rem;
    margin-top: 5rem;
    color: wheat;
   

}
.countdown-container{
    display: flex;

}

.big-text{
    font-weight: bold;
    font-size: 6rem;
    color: darksalmon;
    line-height:1;
    margin: 0 2rem;
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1.4rem;
    font-weight: bold;
    color: wheat;
}